
.follow{
    &::before{
        content: "";
        display: block;
        background-image:url('../images/footer-arrow.png');
        background-size: 48px 43px;
        width: 48px;
        height: 43px;
        position: absolute;
        bottom: 20%;
        left: 20%;
    }
    &__title{
        font-size: 26px;
        color: #fff;
        margin-bottom: 30px;
    }
    &__input{
        padding: 20px;
        width: 445px;
        border: none;
        border-radius: 35px;
        -webkit-border-radius: 35px;
        -moz-border-radius: 35px;
        -ms-border-radius: 35px;
        -o-border-radius: 35px;
        color: #77511c;
        text-indent: 42px;
        font-size: 17px;

        &::-webkit-input-placeholder{
            color: #77511c;
        }
    }
    &__list{
        display: flex;
        gap: 0 25px;
        margin-left: 180px;
        margin-top: 30px;
    } 
    &__item{
        &:first-child{
            font-size: 18px;
            text-transform: uppercase;
            color: #6d450c;
            margin-right: 20px;
        }
    }
    &__img{
        filter: brightness(10);
        -webkit-filter: brightness(10);
    }
    &__link{
        text-decoration: none;
    }
    &__form{
        position: relative;

        &::before{
            content: "";
            display: block;
            background-image:url('../images/mail-icon.png');
            background-size: 24px 19px;
            width: 24px;
            height: 19px;
            position: absolute;
            bottom: 32%;
            left: 5%;
        }
    }
}
