/*    FONTS    */

/* Muli-Bold */
@font-face {
    font-family: Muli-Bold;
    font-style: normal;
    src: url(../fonts/Muli-Bold.ttf) format('truetype');
}

/* Muli-Italic */
@font-face {
    font-family: Muli-Italic;
    src: url(../fonts/Muli-Italic.ttf);
}

/* Muli-Regular */
@font-face {
    font-family: Muli-Regular;
    src: url(../fonts/Muli-Regular.woff);
}

/* Muli-ExtraBold */
@font-face {
    font-family: Muli-ExtraBold;
    src: url(../fonts/Muli-ExtraBold.woff);
}

/* Muli-Semi-BoldItalic */
@font-face {
    font-family: Muli-SemiBoldItalic;
    src: url(../fonts/Muli-Semi-BoldItalic.ttf);
}

.muli__bold{
    font-family: 'Muli-Bold';
}

.muli__italic{
    font-family: 'Muli-Italic';
}

.muli__regular{
    font-family: 'Muli-Regular';
}

.muli__extrabold{
    font-family: 'Muli-ExtraBold';
}

.muli__semibolditalic{
    font-family: 'Muli-SemiBoldItalic';
}