

.footer{
    display: flex;
    flex-direction: column;

    &__container{
        width: 90%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__top{
        background-color: #f3ad38;
        display: flex;
        height: 370px;
    }
    &__content{
        width: 35%;
        display: flex;
        justify-content: space-between;
    }
    &__list-link{
        font-size: 18px;
        color: #6d450c;
    }
    &__list-item{
        margin-bottom: 20px;

        &:first-child{
            color: #fff;
            font-size: 26px;
            margin-bottom: 40px;
        }
        &:last-child{
            margin: 0;
        }
    }
    &__payment{
        width: 250px;
    }
    &__follow{
        position: relative;
    }
    &__menu, &__payment, &__follow{
        min-height: 210px;
    }
    &__bottom{
        height: 60px;
        background-color: #6d281d;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__bottom-text{
        font-size: 13px;
        color: #af8a82;
    }
}
