/*    SMOOTHIES */

.smoothies{
    position: relative;

    &__container{
        margin: 90px auto 105px auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    &__content{
        margin: 0 auto 60px auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        max-width: 920px;
    }
    
    &__title{
        font-size: 48.5px;
        margin-bottom: 30px;
    }
    
    &__text{
        font-size: 18px;
        line-height: 2;
        text-align: center;
    }

    &__variety{
        max-width: 1010px;
        margin: 0 auto;
    }
}

