

.story{
    &__container{
        width: 68.5%;
        height: auto;
        margin: 120px auto 160px;
        display: flex;
        justify-content: center;
    }
    &__content{
        width: 40%;
    }
    &__title{
        font-size: 50px;
        color: $accentColor;
        margin: 125px 0 35px 0;
    }
    &__text{
        margin-bottom: 55px;
        font-size: 18px;
        line-height: 1.9;
    }
    &__button{
        font-size: 21px;
        height: 60px;
        width: 300px;
        position: relative;

        &::after{
            content: "";
            display: block;
            background-image:url('../images/Arrow.png');
            background-size: 30px 16px;
            width: 30px;
            height: 16px;
            position: absolute;
            top: 50%;
            right: 15%;
            transform: translateY(-50%);
            -webkit-transform: translateY(-50%);
            -moz-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
            -o-transform: translateY(-50%);
        }
    }
    &__images{
        display: flex;
        justify-content: flex-end;
        width: 60%;
        position: relative;
    }   
    &__img-second{
        position: absolute;
        left: 5%;
        top: 4%;
    }
}