    @import './normalize';
    @import './abstracts/variables';
    @import './abstracts/mixins';
    @import './fonts';

h1, h2, h3, h4, h5, h6, ul, p{
    margin: 0;
    padding: 0;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

button{
    border: none;
    background-color: transparent;
}

img{
    pointer-events: none;
    user-select: none;
}

    @import './header';
    @import './common/container';
    @import './menu';
    @import './personal';
    @import './social';
    @import './components/button';
    @import './components/logo';
    @import './smoothies';
    @import './variety';
    @import './about';
    @import './products';
    @import './story';
    @import './testimonials';
    @import './blog';
    @import './art';
    @import './instagram';
    @import './footer';
    @import './payment';
    @import './follow';

    .title--orange-clr{
        color: #f7ae3b;
    }

    .title--lime-clr{
        color: #cae941;
    }

    .title--orange-txt{
        color: #f2612d;
        text-transform: uppercase;
    }

    .gotop{
        width: 50px;
        height: 50px;
        border: none;
        background-color: #f2662f;
        border-radius: 10%;
        -webkit-border-radius: 10%;
        -moz-border-radius: 10%;
        -ms-border-radius: 10%;
        -o-border-radius: 10%;
        display: flex;
        justify-content: center;
        align-items: center;
        position: fixed;
        right: 100px;
        bottom: 38px;
    }

    @import './media';