// colors
$textColorLight: #fff;
$btnBackColor: #0aa566;
$accentColor: #f7ae3b;
$primaryColor: #672f1b;
$additionalColor: #5b220f;
$varietyColor: #f2612d;
$borderColor: #f6edde;

// border-radius
$btnBorderRadius: 35px;